@model IEnumerable<SparePartsRequests.Models.Request>

@{
    ViewBag.Title = "AllRequests";
}

<h2>All Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RequestType.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Desc)
    </td>
    <td>
        @if (item.IsApproved)
        {
            @*@Html.DisplayFor(modelItem => item.IsApproved)*@
            @Html.Raw("Approved")
        }
        else if (item.IsRejected)
        {
            @Html.Raw("Rejected")

        }
        else
        {
            @Html.Raw("---")

        }

    </td>
    <td>
        @Html.ActionLink("Approve", "RequestApproval", new { id = item.RequestId }) |
        @Html.ActionLink("Reject", "Reject", new { id = item.RequestId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
    </td>
</tr>
}

</table>
