@model IEnumerable<SparePartsRequests.Models.Request>

@{
    ViewBag.Title = "CancelledRequests";
}

<h2>Cancelled Requests</h2>


<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>

        <th>
            Cancel
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsCanceled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RequestId })
            </td>
        </tr>
    }

</table>