@model SparePartsRequests.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
