@model IEnumerable<SparePartsRequests.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>

        <th>
            Cancel
        </th>
        <th>
            Status
        </th>
        <th>
            Edit
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.ActionLink("Cancel", "Cancel", new { id = item.RequestId })

            </td>
            <td>
                @if (item.IsApproved)
                {
                    @Html.Raw("Approved")
                }
                else if (item.IsRejected)
                {
                    @Html.Raw("Rejected")
                }
                else
                {
                    @Html.Raw("---")
                }
              </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RequestId })
            </td>
        </tr>
    }

</table>
